<div class="table-title">
    <div class="row">
        <div class="col-sm-4">
            <h2>{{ codocorrencia.id ? 'Edição' : 'Cadastro'}}</h2>
        </div>
    </div>
</div>   
<form #ocorrenciaForm="ngForm" (ngSubmit)="onSubmit()" >       
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="success == true">
               Ocorrência <b>{{ codocorrencia.id }}</b> salva/atualizada com sucesso!
            </div>  
            <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                {{ erro }}
            </div>                                               
        </div>
    
        <div class="col-md-2">
            <div class="form-goup">
                <label>Código:</label>
                <input type="text" class="form-control border border-info"
                        [(ngModel)]="codocorrencia.codigo" name="codigo"/>
            </div>
        </div>  

        <div class="col-md-8">
            <div class="form-goup">
                <label>Descrição:</label>
                <input type="text" class="form-control border border-info"
                        autocomplete="off" 
                        [(ngModel)]="codocorrencia.text" name="descricao"/> 
            </div>                                     
        </div> 
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">       
            <button type="submit" class="btn btn-warning"  *ngIf="!codocorrencia.id"> 
                <i class="fa fa-save"></i> Salvar
            </button>

            <button type="submit" class="btn btn-primary" *ngIf="codocorrencia.id">
                <i class="fa fa-sync-alt"></i> Atualizar
            </button>            

            <button type="button" 
                    class="btn btn-danger ml-1"
                    (click)="voltarParaListagem()">
                <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
            </button>              
        </div>
    </div>       
</form>    