/api/target/classes/io/github/gcm/ocorrencias/rest/*.class
/api/src/main/java/io/github/gcm/ocorrencias/rest/exception/*.java
/api/src/main/resources/static/*.txt
/api/src/main/resources/static/*.ico
/api/src/main/resources/static/*.html
/api/src/main/resources/static/*.js
/api/src/main/resources/static/*.css
/api/target/classes/io/github/gcm/ocorrencias/rest/exception/*.class
/api/target/classes/static/*.txt
/api/target/classes/static/*.ico
/api/target/classes/static/*.html
/api/target/classes/static/*.js
/api/target/classes/static/*.css
/api/target/maven-archiver/*.properties
/api/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/api/target/*.war
/api/target/*.original
/api/target/ocorrenciasservice/WEB-INF/classes/*.properties
/api/target/ocorrenciasservice/WEB-INF/classes/io/github/gcm/ocorrencias/*.class
/api/target/ocorrenciasservice/WEB-INF/classes/io/github/gcm/ocorrencias/config/*.class
/api/target/ocorrenciasservice/WEB-INF/classes/io/github/gcm/ocorrencias/model/entity/*.class
/api/target/ocorrenciasservice/WEB-INF/classes/io/github/gcm/ocorrencias/model/repository/*.class
/api/target/ocorrenciasservice/WEB-INF/classes/io/github/gcm/ocorrencias/rest/*.class
/api/target/ocorrenciasservice/WEB-INF/classes/io/github/gcm/ocorrencias/rest/dto/*.class
/api/target/ocorrenciasservice/WEB-INF/classes/io/github/gcm/ocorrencias/rest/exception/*.class
/api/target/ocorrenciasservice/WEB-INF/classes/io/github/gcm/ocorrencias/util/*.class
/api/target/ocorrenciasservice/WEB-INF/classes/static/*.txt
/api/target/ocorrenciasservice/WEB-INF/classes/static/*.ico
/api/target/ocorrenciasservice/WEB-INF/classes/static/*.html
/api/target/ocorrenciasservice/WEB-INF/classes/static/*.js
/api/target/ocorrenciasservice/WEB-INF/classes/static/*.css
/api/target/ocorrenciasservice/WEB-INF/lib/*.jar
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/classes/*.properties
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/classes/io/github/gcm/ocorrencias/*.class
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/classes/io/github/gcm/ocorrencias/config/*.class
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/classes/io/github/gcm/ocorrencias/model/entity/*.class
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/classes/io/github/gcm/ocorrencias/model/repository/*.class
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/classes/io/github/gcm/ocorrencias/rest/*.class
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/classes/io/github/gcm/ocorrencias/rest/dto/*.class
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/classes/io/github/gcm/ocorrencias/rest/exception/*.class
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/classes/io/github/gcm/ocorrencias/util/*.class
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/classes/static/*.txt
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/classes/static/*.ico
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/classes/static/*.html
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/classes/static/*.js
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/classes/static/*.css
/api/target/sistemagcm-1.0-SNAPSHOT/WEB-INF/lib/*.jar
/ocorrencias-app/.vscode/*.json
/ocorrencias-app/src/assets/imagens/*.bmp
