<div class="table-title">
  <div class="row">
      <div class="col-sm-4">
          <h2>{{ livro.id ? 'Edição' : 'Cadastro'}}</h2>
      </div>
  </div>
</div>   

<form #ocorrenciaForm="ngForm" (ngSubmit)="onSubmit()" >       
  <div class="row">
      <div class="col-md-12">
          <div class="alert alert-success" role="alert" *ngIf="success == true">
             Livro Diário <b>{{ livro.id }}</b> salva/atualizada com sucesso!
          </div>  
          <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
              {{ erro }}
          </div>                                               
    </div>  

<div class="container" id="livro">
    
    <angular-editor  
        autofocus="true"
        [(ngModel)]="livro.texto" name="texto"
        [config]="config1"           
        >
    </angular-editor>
    <br>
    <div class="col-md-2">               
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" 
                    [(ngModel)]="livro.status"
                    class="onoffswitch-checkbox"   
                    id="myonoffswitch" 
                    [checked]="livro.status">                             
            <label class="onoffswitch-label" for="myonoffswitch">    
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>      
</div>

</div>   
<br>
    <div class="row">
        <div class="col-md-8">       
            <button type="submit" class="btn btn-warning"  *ngIf="!livro.id"> 
                <i class="fa fa-save"></i> Salvar
            </button>

            <button type="submit" class="btn btn-primary" *ngIf="livro.id">
                <i class="fa fa-sync-alt"></i> Atualizar
            </button>            

            <button type="button" 
                    class="btn btn-danger ml-1"
                    (click)="voltarParaListagem()">
                <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
            </button>              
        </div>
    </div>              
</form>  