
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{ mensagemSucesso }}
            </div>  
            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{ mensagemErro }}
            </div>   
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>Fiscalização</h2>
                    </div>
                </div>
            </div>                                                    
        </div>
    </div>  


        <div class="table-filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="show-entries">
                        <span>Mostrar</span>
                            <select (change)="onTableSizeChange($event)" class="form-control">
                                <option *ngFor="let size of tableSizes" [ngValue]="size">
                                        {{ size }}
                                </option>
                            </select>                                      
                            <span>Notificações</span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filterTerm">                                                                                              
                    </div>                          
                                                  
                </div>
            </div>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Data</th>                       
                <th>BOGCM</th>                        
                <th>Notificacao</th>
                <th>Endereco</th>                       
                <th>Atuacao</th>                     
                <th>Legislacao</th>  
                <th>Nome Proprietario</th>                        
            </tr>
        </thead>
        <tbody>                    
            <tr *ngFor="let notificao of notificacoes| filter:filterTerm | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
                };">
                <td>{{ notificao.dataOcorrencia }}</td>
                <td>{{ notificao.numeroBoGcm }}</td>
                <td>{{ notificao.notificacao }}</td>
                <td>{{ notificao.endereco }}</td>
                <td>{{ notificao.atuacao }}</td>
                <td>{{ notificao.legislacao }}</td>
                <td>{{ notificao.nomeProprietario }}</td>
                                
            </tr>                           
        </tbody>                 
    </table> 
    <div class="d-flex justify-content-center">
        <pagination-controls     
            previousLabel="Prev" 
            nextLabel="Next" 
            (pageChange)="onTableDataChange($event)"
            >
        </pagination-controls>
    </div>                                             

           

