<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark bg-primary" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Sistema</div>
                <a class="nav-link" routerLink="/home">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Home
                </a>
                <div class="sb-sidenav-menu-heading">Cadastro</div>
                <a class="nav-link collapsed" routerLink="/ocorrencias-lista"
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-clipboard"></i></div>
                    Ocorrências
                </a>
                <a class="nav-link collapsed" routerLink="/bo-gcm-lista"
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-clone"></i></div>
                    BOGCM
                </a>                                      
            </div> 
           
        </div>
        <div class="sb-sidenav-footer bg-primary">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
        
    </nav>
</div>