<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark bg-primary" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Home</div>
                <a class="nav-link collapsed" routerLink="/ocorrencias"
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-clipboard"></i>
                    </div>
                    Ocorrências
                </a>
                <a class="nav-link collapsed" routerLink="/bo-gcm"
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-clone"></i></div>
                    BOGCM
                </a> 
                
                <a class="nav-link collapsed" routerLink="/notificacoes"
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-clone"></i></div>
                    Notificações/Atuações
                </a> 
                                
                <a class="nav-link collapsed" routerLink="/sinesp"
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                    Sinesp
                </a> 

                <a class="nav-link collapsed" routerLink="/livro-diario"
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fa fa-book"></i></div>
                    Livro Diário
                </a> 

                <a class="nav-link collapsed" routerLink="/ligacao"
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="true" aria-controls="collapseLayouts"
                    >
                    <div class="sb-nav-link-icon"><i class="fa fa-phone"></i></div>
                    
                    Ligações
                </a> 


                <a class="nav-link collapsed" routerLink="/dashboard"
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fa fa-signal" aria-hidden="true"></i>
                    </div>
                    Dashboard
                </a>   
                <div class="sb-sidenav-menu-heading">Utilitários</div>

                <a class="nav-link collapsed" routerLink="/cod-ocorrencia"
                data-toggle="collapse" data-target="#collapseLayouts" 
                aria-expanded="false" aria-controls="collapseLayouts"
                ><div class="sb-nav-link-icon"><i class="fa fa-plus-square" aria-hidden="true"></i></div>
                Código de Ocorrência
            </a>                 

                <div class="sb-sidenav-menu-heading">Logout</div>

                <a class="nav-link collapsed" (click)="logout();" href="#"
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                    Sair
                </a>                                                                         
            </div>                                        
        </div>  
        <div class="sb-sidenav-footer bg-primary">
            <div id="usuarioLogado" class="small">Usuário Logado: {{ usuarioLogado }}</div>          
            
        </div>                          
    </nav>  
</div>