.table-title {
	color: #fff;
	background: #4b5366;		
	padding: 10px 50px;
    margin-bottom: 15px;
	margin-right: -18px;
    margin-left: -18px;
	border-radius: 3px 3px 0 0;

}

.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}

   

