<div class="table-title">
    <div class="row">
        <div class="col-sm-4">
            <h2>Visualizar</h2>
        </div>
    </div>
  </div>   
  
  <form #ocorrenciaForm="ngForm" (ngSubmit)="onSubmit()" >       
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="success == true">
               Livro Diário <b>{{ livro.id }}</b> salva/atualizada com sucesso!
            </div>  
            <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                {{ erro }}
            </div>                                               
      </div>  
  
      <div class="container" id="livro">
    
        <angular-editor  
            autofocus="true"
            [(ngModel)]="livro.texto" name="texto"
            [config]="config"           
            >
        </angular-editor>
        
    </div>
  </div>   
  <br>
      <div class="row">
          <div class="col-md-8">       
              <button type="button" 
                      class="btn btn-danger ml-1"
                      (click)="voltarParaListagem()">
                  <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
              </button>              
          </div>
      </div>              
  </form>  