<h1 class="mt-4">Ocorrências</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ ocorrencia.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">
    <form #ocorrenciaForm="ngForm" (ngSubmit)="onSubmit()" >
        
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                   Ocorrência salva/atualizada com sucesso!
                </div>  
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>                                               
            </div>
        </div>

        <div class="row" *ngIf="ocorrencia.id">         
            <div class="col-md-2">
                <div class="form-goup">
                    <label>ID:</label>
                     <input type="text" class="form-control" 
                            [(ngModel)]="ocorrencia.id" name="id"/>      
                </div>
            </div>
        </div>    
             

        <div class="row">   
            <div class="col-md-2">
                <div class="form-goup">
                    <label>Talão:</label>
                    <input type="text" class="form-control" 
                           autocomplete="off"
                           [(ngModel)]="ocorrencia.numeroTalao" name="numeroTalao" />
                </div>   
            </div> 

            <div class="col-md-2">
                <div class="form-goup">
                    <label>Data:</label>
                     <input type="text" class="form-control" 
                            value="ocorrencia.dataOcorrencia"
                            autocomplete="off"
                            [(ngModel)]="ocorrencia.dataOcorrencia" name="dataOcorrencia"/>      
                </div>
            </div>  

            <div class="col-md-2">
                <div class="form-goup">
                    <label>Hora Inicial:</label>
                    <input type="text" class="form-control"
                           autocomplete="off"  
                           [(ngModel)]="ocorrencia.horaInicial" name="horaInicial"/> 
                </div>
            </div>
        </div>    

            <div class="row"> 
                <div class="col-md-2">
                    <div class="form-goup">
                        <label>Codigo:</label>
                        <input type="text" class="form-control" 
                               autocomplete="off"
                               [(ngModel)]="ocorrencia.codOcorrencia" name="codOcorrencia"/>
                    </div>   
                </div>   

                <div class="col-md-2">
                    <div class="form-goup">
                        <label>Vtr:</label>
                        <input type="text" class="form-control" 
                               autocomplete="off"
                               [(ngModel)]="ocorrencia.viatura" name="viatura"/>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-goup">
                        <label>KM Inicial:</label>
                        <input type="text" class="form-control"  
                               autocomplete="off" 
                               [(ngModel)]="ocorrencia.kmInicial" name="kmInicial"/> 
                    </div>                     
                    
                </div>                                    
            </div>  

        <div class="row">   
            <div class="col-md-4">
                <div class="form-goup">
                    <label>Endereço (QTH):</label>
                    <input type="text" class="form-control"  
                    [(ngModel)]="ocorrencia.endereco" name="endereco"/>
                </div>    
            </div>                   
        </div>   
        
        <div class="row">               
            <div class="col-md-2">
                <div class="form-goup">
                    <label>Enc. Vtr:</label>
                    <input type="text" class="form-control" 
                           autocomplete="off"
                           [(ngModel)]="ocorrencia.encarregadoVtr" name="encarregadoVtr"/>
                </div>
            </div> 
            <div class="col-md-2">
                <div class="form-goup">
                    <label>Auxiliar1:</label>
                    <input type="text" class="form-control"
                           autocomplete="off" 
                           [(ngModel)]="ocorrencia.auxiliar1" name="auxiliar1"/>
                </div>
            </div>                            
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-goup">
                    <label>Hora Final (QtrF):</label>
                    <input type="time" class="form-control"   
                           autocomplete="off"                    
                           [(ngModel)]="ocorrencia.horaFinal" name="horaFinal"/> 
                </div>
            </div>      
            <div class="col-md-2">
                <div class="form-goup">
                    <label>KM Final (KMF):</label>
                    <input type="text" class="form-control"  
                           autocomplete="off"
                           [(ngModel)]="ocorrencia.kmFinal" name="kmFinal"/> 
                </div>
            </div>                   
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-goup">
                    <label>BOGCM:</label>
                    <input type="text" class="form-control"   
                           autocomplete="off"
                           [(ngModel)]="ocorrencia.boGcm" name="boGcm"/> 
                </div> 
            </div>
            <div class="col-md-2">
                <div class="form-goup">
                    <label>Equipe:</label>
                    <input type="text" class="form-control"   
                           autocomplete="off"                    
                           [(ngModel)]="ocorrencia.equipe" name="equipe"/> 
                </div>  
            </div>               
            <div class="col-md-2">
                <div class="form-goup">
                    <label>Enc. Equipe:</label>
                    <input type="text" class="form-control"   
                           autocomplete="off"                    
                           [(ngModel)]="ocorrencia.encEquipe" name="encEquipe"/> 
                </div>  
            </div>                               
        </div>  

        <div class="row">
            <div class="col-md-6">
                <div class="form-goup">
                    <label>Obs:</label>
                    <input type="text" class="form-control"  autocomplete="off"/>
                </div>
            </div>  
        </div> 

       <br  />     

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!ocorrencia.id">
                    <i class="fa fa-save"></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary" *ngIf="ocorrencia.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>                

                <button type="button" class="btn btn-danger ml-1"  (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
                </button>                
            </div>
        </div>

    </form>
</div>
